valorant/
overwatch/
apex/
csgo/
pubg/
warcraft/
starcraft/
node_modules/
secret/
identity/
client/build
auth/
aauthentication/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


*.json
*.iml
*.ipr
*.com
*.class
*.dll
*.exe
*.o
*.so
